/*The syntax for CSS comments is different but the same hot key works. (Ctrl + /)*/

body{
    font-family: Arial, Helvetica, sans-serif;
}
.header, .content, .sidebar, .footer{
    padding: 1%;
    margin: 1%;
}

.header{
    border: 1px solid red;
}
I
.content{
    border: 1px solid green;
    width: 45%;
    position: relative;
    float: left;
}
.sidebar{
    border: 1px solid  blue;
    width: 45%;
    position: relative;
    float:right;
}
.footer{
    clear:both;
    border: 1px solid purple;
}